{{ define "main" }}
<div class="container" >
    <div class="row">
        
      {{- if .Params.toc }}
        <div class="col-sm-1 col-md-4 col-lg-3 col-xl-1" id="sticky-sidebar">
            <div class="sticky-top pt-5">

                <!-- spacer -->
                <div class="pt-5"></div>
                    
                <div class="sidebar-bg">
                    <div class="nav flex-column">
                        <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                        <hr>
                        <aside id="toc">
                            {{ .TableOfContents }}
                        </aside>
                    </div>
                </div>
            </div>
        </div>

      {{- end }}

      <main class="col-lg-7 post">

    <div class="post-info">
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock">
          <circle cx="12" cy="12" r="10"></circle>
          <polyline points="12 6 12 12 16 14"></polyline>
        </svg>
        {{ i18n "readingTime" .Page.ReadingTime }}

        {{ if .IsTranslated }} | {{ i18n "postAvailable" }}
          {{ range .Translations }}
              <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
          {{ end}}
        {{ end }}
      </p>
    </div>

    <article>
      <h1 class="post-title">
        <a href="{{ .Permalink }}">meh, why not</a>
      </h1>

      {{ with .Params.Cover }}
        <img src="/{{ . }}" class="post-cover" />
      {{ end }}

      <div class="post-content">
        {{ .Content }}
      </div>
    </article>

    <hr />

    <div class="post-info">
      {{- with .Params.tags }}
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon">
            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
            <line x1="7" y1="7" x2="7" y2="7"></line>
          </svg>

          {{- range . -}}
             <span class="tag"><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}/">{{.}}</a></span>
          {{- end }}
        </p>
      {{- end }}

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
          <polyline points="14 2 14 8 20 8"></polyline>
          <line x1="16" y1="13" x2="8" y2="13"></line>
          <line x1="16" y1="17" x2="8" y2="17"></line>
          <polyline points="10 9 9 9 8 9"></polyline>
        </svg>
        {{ i18n "wordCount" .Page.WordCount }}
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
          <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
          <line x1="16" y1="2" x2="16" y2="6"></line>
          <line x1="8" y1="2" x2="8" y2="6"></line>
          <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        {{ if .Site.Params.dateformNumTime }}{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" .Date.Local }}{{ end }}
      </p>

      {{- if .GitInfo }}
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit">
            <circle cx="12" cy="12" r="4"></circle>
            <line x1="1.05" y1="12" x2="7" y2="12"></line>
            <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
          </svg>

          <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a>
          @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}
        </p>
      {{- end }}
    </div>

    {{- if .Site.Params.EnableSharingButtons }}
      <hr />
      <div class="sharing-buttons">
        {{ partial "sharing-buttons.html" . }}
      </div>
    {{- end }}

    {{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
      <div class="next-prev-post">
        <div class="pagination__title">
          <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
          <hr />
        </div>

        <div class="pagination__buttons">
          {{ if .NextInSection }}
            <span class="button previous">
              <a href="{{ .NextInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .NextInSection.Title }}</span>
              </a>
            </span>
          {{ end }}

          {{ if .PrevInSection }}
            <span class="button next">
              <a href="{{ .PrevInSection.Permalink }}">
                <span class="button__text">{{ .PrevInSection.Title }}</span>
                <span class="button__icon">→</span>
              </a>
            </span>
          {{ end }}
        </div>
      </div>
    {{ end }}


    {{ if .Site.DisqusShortname }}
      {{ if not (eq .Params.Comments "false") }}
        <div id="comments">
          {{ template "_internal/disqus.html" . }}
        </div>
      {{ end }}
    {{ end }}

  </main>
  </div>
</div>
{{ end }}
