<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>Powered by <a href="http://gohugo.io" target='_blank'>Hugo</a></span>
            <span>Original theme made by: <a href="https://github.com/rhazdon" target='_blank'>Djordje Atlialp</a></span>
            <span>{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} <a href="{{ "index.xml" | absLangURL }}" target="_blank" title="rss">{{ partial "fontawesome.html" "rss-square" }}</a>{{ end }}</span>
        </div>
    </div>
</footer>
